body {
  font-family: verdana;
}

form {

  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 2rem;
}

form > * {
  margin: 0.75rem;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  height: 2rem;
  align-items: center
}

ul > * {
  margin: 0.5rem;
}

.mainHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 30px;
}

.authHome {
  display: flex;
  flex-direction: column;
}

.mainBusiness {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 30px;
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
  width: auto;
}

.mainTitle {
  text-align: center
}

.image-size {
  width: 650px;
  height: 350px;
  object-fit: cover;
}

.business-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 1rem;

}