body {
  font-family: verdana;
}

form {

  display: flex;
  flex-direction: column;
  width: 300px;

}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  height: 2rem;
  align-items: center
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
}
